@import url('https://fonts.googleapis.com/css2?family=Alice&family=Frijole&family=Nosifer&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: 'Open Sans', Times, serif;
    background-color: #ffffff;
}

#page {
    box-sizing: border-box;
    width: 1000px;
    margin: auto;
}

.semititulos {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #a24e17;
    margin-top: 30px;
}

#introducao .semititulos {
    text-align: left;
}

#hero {
    position: relative;
}

#hero img {
    width: 100%;
}

#introducao {
    position: absolute;
   bottom: 15%;
   left: 20px;
}

#about {
    position: relative;
    margin-left: 10px;
}

#about .semititulos {
    text-align: left;
    margin-top: 30px;
}

#about h2 + p {
    position: absolute;
    top: 10%;
    left: 400px;
}

#subtitulo {
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 5px;
}

.icons {
    width: 40px;
    color: #663a1c;
}

h1 {
    font-size: 40px;
}

h1, h2 {
    color: #382010;
}

p {
    font-size: 15px;
}

#botao {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    transition: 0.5s;
    border: none;
    cursor: pointer;
    background-color: #372011;
    color: white;
}

#botao:hover {
    transform: translateY(1px);
}

.frases {
    display: inline-block;
    text-align: center;
    margin: 55px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.cafes {
    width: 250px;
    height: 150px;
    margin: 15px;
    border-radius: 10px;
}

.cafes:hover {
    transform: translateY(1px);
    transition: 0.1s;
    cursor: pointer;
    opacity: 50%;
}

.tipos {
    margin-top: 0px;
    margin-bottom: 0px;
}

.gallery {
    border: 2px solid #eee4d4;
    border-radius: 10px;
    margin: 15px;
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
}

.precos {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #9e440d;
}

hr + p {
    margin-top: 30px;
}

.explicacao {
    display: inline-block;
    text-align: center;
    margin: 50px;
    margin-top: 15px;
    margin-bottom: 20px;
}

hr {
    border: none;
    height: 1px;
    background-color: #eee4d4;
}

#rodape {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}